* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	background: transparent;
	font-size: 13px;
}
body.compact { font-size: 12px; }

.widget-container {
	width: 100%;
	max-width: 400px;
	/* margin: 20px auto; */
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 5px 10px;
	background-color: #f9f9f9;
}
.dark .widget-container {
	border-color: #777;
	background-color: #333;
}
.compact .widget-container {
	max-width: 280px;
}

.top {
	padding: 5px;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	width: 100%;
}
.dark .top { border-color: #777; }

.top-title {
	font-size: 1.2em;
	font-weight: bold;
	float: right;
	color: #555;
}
.dark .top-title { color: #ddd }
.compact .top-title {
	font-size: 1em;
	line-height: 1.5em;
}

.bottom {
	text-align: right;
	font-size: 0.85em;
	color: #999;
	padding-top: 5px;
}

.bottom a {
	text-decoration: none;
	font-size: 1em;
	color: #066;
}
.dark .bottom a { color: #0cc }

.logo { height: 24px; }
.compact .logo { height: 19px }

.logo-light { display: block; }
.logo-dark { display: none; }
.dark .logo-light { display: none }
.dark .logo-dark { display: block }

.article {
	padding: 5px;
	/* margin-bottom: 0px; */
	border-bottom: 1px solid #ddd;
	min-height: 8em;
}
.article:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.dark .article { border-color: #777; }
.compact .article { min-height: 6em; }

.image {
	float: left;
	object-fit: cover;
	width: 7em;
	height: 7em;
	margin-right: 10px;
	border: 1px solid #ddd;
	background-color: #fff;
}
.compact .image {
	width: 5.5em;
	height: 5.5em;
}

.title {
	font-size: 1.1em;
	color: #333;
	margin-bottom: 5px;
	font-weight: bold;
	max-width: 270px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dark .title { color: #ddd; }
.compact .title { font-size: 1em; }

.description {
	font-size: 0.9em;
	color: #555;
	margin-bottom: 5px;
	overflow: hidden;
	max-height: 3.6em;

	/* https://css-tricks.com/line-clampin/ */
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.dark .description { color: #aaa }
.compact .description {
	max-height: 2.6em;
	-webkit-line-clamp: 2;
	font-size: 0.88em;
}

.read-more {
	font-size: 0.9em;
	display: inline-block;
	margin-top: 5px;
}
.compact .read-more {
	font-size: 0.9em;
	margin-top: 0px;
}

.read-more a {
	color: #007bff;
	text-decoration: none;
}
.read-more a:hover { text-decoration: underline; }
.dark .read-more a { color: #5baaff }

.read-time {
	margin-left: 0.25em;
	font-size: 0.9em;
	color: #888;
	/* font-style: italic; */
}
.read-time::before { content: '(' }
.read-time::after { content: ')' }
